<!DOCTYPE html>
<html>
<style>
@font-face {
  font-family: 'Droid Sans';
  src: url('DroidSans.eot'); /* IE 5-8 */ 
  src: local('?'),             /* sneakily trick IE */
        url('DroidSans.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
        url('DroidSans.ttf') format('truetype'), /* Opera, Safari */
        url('DroidSanst.svg#webfont') format('svg'); /* iOS */
		}

		p,h1, h2, h3,table td { font-family: 'Droid Sans', 'Arial', 'Helvetica', sans-serif;}

#specific-cell {
        padding-left: 20px;
    }
</style>
<head>
<title>Our Technology </title>
<div style="position:absolute;left:0px;top:0px;width:1350px;padding:0;height:100px; background-color:#000000;float:left;margin-top:0px;margin-left:0px">
<table style="width:100%;height:100%; background-color:#000000;" cellspacing="0" cellpadding="3">
<tr>
<td style="width:15%;"></td>
<td rowspan="3"style="width:70%;"><a href="/Ceryx/"><img src="{{STATIC_URL}}img/bg1.png" height="70"></a>
<td style="text-align:center;"></br><a href="/Ceryx/"><font color="#FFFFFF" size="4">home</font></a></td>
<td style="text-align:center;"></br><a href="/Ceryx/aboutUs"><font color="#FFFFFF" size="4">about us</font></a></td>
<td style="text-align:center;"></br><a href="/Ceryx/blog"><font color="#FFFFFF" size="4">blog</font></a></td>
<td style="width:2%;"></td>
</tr>

<tr>
<form id="cse-search-box" action="http://google.com/cse">
<td></td>
<td align="right"><input type="image" name="sa" src="{{STATIC_URL}}img/bg3.jpg" height="20"/></td>
<td colspan="2">
  <input type="hidden" name="cx" value="017641060535783529175:xdcsstvs97o" />
  <input type="hidden" name="ie" value="UTF-8" />
  <input type="text" name="q" shape="rect" size="15" style="background-color:#808080;border:2px solid;border-radius:5px;"/>
</td>
<td></td>
</form>
</tr>
</table>
</div>
</head>
<body>
<div style="position:absolute;width:942px;height:30px;margin-left:15%;float:left;margin-top:92px">
<table style="width:100%;height:25px" cellspacing="0">
<tr>
{% for bg in color %}
	{% for ct in categories %}
		{% if forloop.counter == forloop.parentloop.counter %}
		<td style="background-color:{{ bg }};text-align:center;width:11%;"><a href="/Ceryx/{{ ct }}"><font color="#FFFFFF" size="4" >{{ ct }}</font></a></td>
		{% endif %}
	{% endfor %}
{% endfor %}
</tr>
</table>
</div>
<div style="width:942px;margin-left:15%;float:left;height:60px;margin-top:120px;">
	<h1 colspan ="2" style="text-align:left;border-bottom-style:solid;border-bottom-color:#212121"><font color="#027664" size="6pt">OUR TECHNOLOGY</font></h1>
	<p><font color="#F87C17" size="4pt"> The purpose behind the construction of this tool is to form the basis of an easy to maintain online news-story reporting portal. 
	The portal would seek to provide a one-stop destination for all the user's daily news requirements.
	The internet is a vast pool and it is not always easy to stay up-to-date despite its vast potential. 
	The problem for every news seeker is that she can never read in-depth reports unless she knows the subject matter at hand.
	A news portal is an easy solution for just this problem, with properly credited information and stories,
	all in one place from a myriad source. This however is not as "easy" as it first appears, the task requires large amount of data mining,
	and examination, story building and monitoring which in-turn would call for a large man force or team running this portal.
	In this scenario we require a solution which automates the entire process, however not a simple algorithmic approach but rather 
	a dynamic intelligent outlook to the task.</font></p>
</div>
<div style="width:942px;margin-left:15%;height:300px;background-color:#FFFFFF;position:absolute;top:720px">
<table cellpadding="15" style="background-color:#232323;" >
<tr>
	<td style="width:33.33%;text-allign:left; vertical-align:top; border-right-width:1px; border-right-style:solid; border-right-color:#FCD4EB;"></br><font color="#089EB4" size="4pt">Grace Foundation</font><br/><font color="#FCD4EB" size="3 pt">Ahmedabad</font><br/><font color="#FFFFFF" size="1pt">All Rights Reserved Grace News is a subsidary of the Grace Foundation Ahmedabad.<br></br>The Ceryx Engine and all technologies associated with the web service are licensed under Grace Foundation</br></td>
	<td style="width:16.66%;text-allign:left; vertical-align:top; border-right-width:1px; border-right-style:solid; border-right-color:#FCD4EB;">
	</br>&#160&#160&#160&#160&#160 <a href="/Ceryx/"><font color="#FFFFFF" size="2pt" align="right">home</font></a>
	</br>&#160&#160&#160&#160&#160 <a href="/Ceryx/aboutUs"><font color="#FFFFFF" size="2pt">about us</font></a>
	</br>&#160&#160&#160&#160&#160 <a href="/Ceryx/ourTechnology"><font color="#FFFFFF" size="2pt">our technology</font></a>
	</br>&#160&#160&#160&#160&#160 <a href="/Ceryx/blog"><font color="#FFFFFF" size="2pt">the blog</font></a>
	</td>
	<td style="width:16.66%;text-allign:left; vertical-align:top; border-right-width:1px; border-right-style:solid; border-right-color:#FCD4EB;">
	</br><font color="#089EB4" size="2pt" align="right"><b>NAVIGATE</b></font></br>
	&#160&#160&#160&#160&#160 <a href="/Ceryx/world"><font color="#FFFFFF" size="2pt">World</font></a></br>
	&#160&#160&#160&#160&#160 <a href="/Ceryx/sports"><font color="#FFFFFF" size="2pt">Sports</font></a></br>
	&#160&#160&#160&#160&#160 <a href="/Ceryx/politics"><font color="#FFFFFF" size="2pt">Politics</font></a></br>
	&#160&#160&#160&#160&#160 <a href="/Ceryx/business"><font color="#FFFFFF" size="2pt">Business</font></a></br>
	&#160&#160&#160&#160&#160 <a href="/Ceryx/media"><font color="#FFFFFF" size="2pt">Media</font></a></br>
	&#160&#160&#160&#160&#160 <a href="/Ceryx/technology"><font color="#FFFFFF" size="2pt">Technology</font></a></br>
	&#160&#160&#160&#160&#160 <a href="/Ceryx/lifestyle"><font color="#FFFFFF" size="2pt">Lifestyle</font></a></td>
	<td style="width:33.33%;text-allign:left; vertical-align:top;"></br><font color="#089EB4" size="2pt" align="right"><b>FOLLOW US</b></font></br><font color="#FFFFFF" size="2pt">&#160&#160&#160&#160&#160 Facebook</br>&#160&#160&#160&#160&#160 Twitter</br>&#160&#160&#160&#160&#160 Google+</br>&#160&#160&#160&#160&#160 Tumbler
	<br/><br/><br/><br/><br/><br/><img src="{{STATIC_URL}}img/bg1.png" height="30"><img style="margin-left:13%" src="{{STATIC_URL}}img/bg16.png" height="100" width="140"></td></tr>
</table>
</div>
</body>
</html>